{% extends 'base.html' %}

{% block js %}
<script>
    // Almacenar elementos en variables
    const checkboxesParticipantes = document.querySelectorAll("input[name='participantes']");
    const contador = document.getElementById("contador");
    const botonReset = document.querySelector("button[type='reset']");
    const botonSeleccionarNOC = document.querySelector("#seleccionar-noc");
    const botonSeleccionarTecnico1 = document.querySelector("#seleccionar-tecnico1");
    const botonSeleccionarTecnico2 = document.querySelector("#seleccionar-tecnico2");
    const botonSeleccionarTodos = document.querySelector("#seleccionar-todos");

    // Arreglo de GIFs
    const gifs2 = [
        '/media/clap1.gif',
        '/media/clap2.gif',
        '/media/clap3.gif',
        '/media/clap4.gif',
        '/media/clap5.gif',
        '/media/clap6.gif',
        '/media/clap7.gif'
    ];

    // Función para obtener un GIF aleatorio
    function obtenerGifAleatorio2() {
        const indiceAleatorio = Math.floor(Math.random() * gifs2.length);
        return gifs2[indiceAleatorio];
    }

    // Manejar el envío del formulario con AJAX
    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar el envío tradicional del formulario

        const username = document.getElementById('username').value;
        const tituloInput = document.getElementById('id_titulo');
        let tituloValue = tituloInput.value;

        // Verificar si el username ya está al inicio del título
        if (!tituloValue.startsWith(username + ': ')) {
            tituloValue = username + ': ' + tituloValue;
        }
        tituloInput.value = tituloValue;

        // Mostrar la animación del sorteo
        Swal.fire({
            title: 'SOOORRRTEANDO...',
            html: 'Presiona <strong>Listo</strong> para ver los ganadores.',
            showCancelButton: false,
            confirmButtonText: 'Listo',
            confirmButtonAriaLabel: 'Listo',
            imageUrl: "/media/lottery2.gif",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showConfirmButton: true, // Mostrar el botón "Listo"
        }).then((result) => {
            if (result.isConfirmed) {
                // Enviar la solicitud AJAX solo después de que el usuario haga clic en "Listo"
                const formData = new FormData(this);

                fetch("{% url 'repetir_sorteo' sorteo.id %}", {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest', // Indicar que es una solicitud AJAX
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.ganadores) {
                        const gifAleatorio = obtenerGifAleatorio2();
                        // Mostrar los ganadores después de que el usuario haga clic en "Listo"
                        Swal.fire({
                            title: '¡Felicidades!',
                            html: 'Los ganadores son:<br><br>' +
                                        data.ganadores.map(ganador => `<strong>${ganador.full_name}</strong>`).join('<br>'), // Usar full_name
                            confirmButtonText: '<i class="bi bi-hand-thumbs-up-fill"></i> Genial!',
                            backdrop: 'rgba(0,0,123,0.4)',
                            imageUrl: gifAleatorio,
                            imageWidth: 350,
                            imageHeight: 200,
                            imageAlt: 'Custom image',
                        }).then(() => {
                            window.location.href = "{% url 'historial_sorteos' %}";
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire('Error', 'Ocurrió un error al procesar el sorteo', 'error');
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<h1 class="display-6 text-center">Repetir Sorteo</h1>
<form method="POST" style="display: flex; flex-direction: column; max-width:580px; margin-inline: auto ">
    <input type="hidden" id="username" value="{{ username }}">
    <div class="row justify-content-center mt-3">
        {% csrf_token %}
        {{ form | crispy }}

        <h5 class="display-7 text-center">{{ error }}</h5>
        
        <!-- <div class="d-flex justify-content-end">
            <!-- <button type="button" class="btn btn-outline-info flex-fill" id="seleccionar-todos">Todos</button>
            <button type="button" class="btn btn-outline-secondary" id="seleccionar-todos">Selec Todos</button>
        </div> -->
    </div>

    <p><br></p>
    <input class="btn btn-info w-100" type="submit" value="Sortear">

    <div class="d-flex" style="margin-top: 8px">
        <button type="reset" style="margin-top: 8px" class="btn btn-outline-secondary flex-fill me-3">Reset</button>
        <a href="{% url 'historial_sorteos' %}" style="margin-top: 8px" class="btn btn-secondary flex-fill">Cancelar</a>
    </div>
</form>
{% endblock %}