{% extends 'base.html' %}

{% block content %}

<h1 class="display-5 text-center">Tarea en ejecución</h1>

{{error}}

<form method="POST" style="display: flex; flex-direction: column; max-width: 40vw; margin-inline: auto">
  {% csrf_token %}
  {{form.as_p}}
</form>

<form action="{% url 'complete_task' task.id %}" method="POST" style="display: flex; flex-direction: column; max-width: 40vw; margin-inline: auto">
  {% csrf_token %}
  <button class="btn btn-success">
    Terminar
  </button>
</form>


{% endblock %}






