{% extends 'base.html' %}

{% block content %}
<main class="container">
    <h1 class="display-6 text-center">Vista previa de mensaje para WhatsApp</h1>
    <section class="mt-4">
        <pre id="whatsappMessage" style="background-color: #f8f9fa; padding: 15px; border: 1px solid #ccc; overflow-x: auto;">
{{ whatsapp_message }}
        </pre>

        <div class="row g-2 mt-3">
            <div class="col">
                <a class="btn btn-secondary w-100 h-100 d-flex align-items-center justify-content-center" href="{% url 'resumen_pedidos' %}">
                    Volver al resumen
                </a>
            </div>
            <div class="col">
                <button id="copyButton" class="btn btn-success w-100 h-100 d-flex align-items-center justify-content-center">
                    <i class="bi bi-clipboard"></i> Copiar
                </button>
            </div>
        </div>
    </section>
</main>

<script>
    document.getElementById('copyButton').addEventListener('click', function() {
        const messageElement = document.getElementById('whatsappMessage');
        
        // Crear un elemento de texto temporal para seleccionar
        const tempTextArea = document.createElement('textarea');
        tempTextArea.value = messageElement.textContent.trim();
        document.body.appendChild(tempTextArea);
        
        // Seleccionar el contenido del textarea
        tempTextArea.select();
        document.execCommand('copy');
        
        // Remover el elemento temporal
        document.body.removeChild(tempTextArea);
        
        // Mostrar notificación con SweetAlert2
        Swal.fire({
            icon: 'success',
            title: '¡Copiado!',
            text: 'El contenido ha sido copiado al portapapeles.',
            showConfirmButton: false,
            timer: 2000  // Tiempo en milisegundos
        });
    });
</script>
{% endblock %}
