{% extends 'base.html' %} {% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-3">
      <form action="/signin/" method="POST" class="card card-body">
        <div class="text-center"><img class="mb-4" src="/media/Lapp_Logo_sm.png" alt="lapp-logo"></div>
        <h1 class="display-5 text-center">Sesión Finalizada</h1>
        <p><br></p>
        <p class="text-center">Ingresar de vuelta?</p>
        <div class="text-center">
          <a class="btn btn-primary" href="/signin/">Signin</a>
        </div>


        </section>
</main>
{% endblock %}